@import "reset.css";
@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
body {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #323232;
    letter-spacing: 1.15px;
    line-height: 27px;
}
.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}
h1 {
    font-weight: 700;
    font-size: 54px;
    line-height: 146%;
    letter-spacing: 0.8px;
}
h2 {
    font-weight: 700;
    font-size: 42px;
    line-height: 62px;
    line-height: 148%;
    letter-spacing: 0.02em;
}
h3 {
    font-weight: 700;
    font-size: 28px;
    letter-spacing: 0.02em;
}
a.active {
    font-weight: 700;
    color: #F78434;
    opacity: 100%;
}
a:hover {
    opacity: 50%;
    transition: opacity 0.5s;
}
.button:active {
    background-color: rgb(255, 123, 0);
    transform: translateY(2px);
}
#toTop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 50px;
    z-index: 99;
    border: none;
    outline: none;
    background: url(../img/btntop.png);
    width: 64px;
    height: 64px;
    cursor: pointer;
    opacity: .3;
    transition: ease 0.5s;
}
#toTop:hover {
    opacity: 1;
}
/* header */
.header {
    padding: 35px 0 34px;
}
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 161px;
    padding-right: 165px;
}
.nav__menu ul {
    display: flex;
    justify-content: space-between;
    gap: 42px;
    letter-spacing: 0;
}
/* main */
.main {
}
.main__inner {
    padding-left: 164px;
    padding-top: 126px;
    background-image: url(../img/main-img.jpg);
    background-repeat: no-repeat;
    background-position: 81.5% 0;
    min-height: 676px;
    /* margin-bottom: 60px; */
}
.main__info {
    max-width: 620px;
}
.main__info p { 
    padding-top: 25px;
    margin-bottom: 42px;
    max-width: 467px;
}
.subscribe__form {
    display: flex;
    gap: 28px;
}
.subscribe__form-icon {
    position: relative;
    padding: 18px 20px 16px 72px;  
}
.subscribe__form-icon::before {
    content: "";
    background: url(../img/email.png) no-repeat;
    display: block;
    position: absolute;
    width: 24px;
    height: 18px;
    left: 28px;
    top: 50%;
    transform: translate(0%, -50%);
}
.text__input {
    max-width: 180px;
}
.text__input::placeholder {
    color: #BBBBBB;
}
.subscribe__button {
    padding: 18px 37px 16px;
    background-color: #F78434;
    color: #fff;
    font-weight: 700;
    transition: background-color 0.3s ease;
}
.subscribe__button:hover {
    background-color: rgb(218, 99, 16);
}
.subscribe__form-icon {
    background-color: #fff;
}
.subscribe__form-icon, .subscribe__button {
    border-radius: 50px;
    -webkit-box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.25);
}
/* partners */
.partners .container {
    max-width: 1110px;
    padding: 100px 0;
}
.partners__items {
    display: flex;
    justify-content: space-between;
}
/* provide */
.provide .container {
    overflow: hidden;
}
.provide__inner {
    display: flex;
}
.provide__slider {
    display: flex;
    position: relative;
    align-self: baseline;
    gap: 30px;
    min-width: 802px;
    transform: translate(-83px, 0);
}
.provide__slider-item {
}
.provide__slider-popup {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #fff;
    transform: translate(47px, -89px);
    padding: 32px 29px 28px 94px;
    border-radius: 15px;
    -webkit-box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.25);
}
.provider__slider-popup-inner {
    max-width: 177px;
}
.provider__slider-popup-inner:before {
    content: "";
    display: block;
    position: absolute;
    background-image: url(../img/slider-title-icon.png);
    width: 45px;
    height: 45px;
    top: 0;
    left: 0;
    transform: translate(61%, 111%);
}
.provide__slider-title {
    line-height: 25px;
    font-weight: 700;
}
.provider__slider-popup-inner {
    line-height: 28px;
}
.provide__text {
    padding-left: 100px;
    max-width: 472px;
}
.provide__text  h2 {
    padding-top: 68px;
}
.provide__text  p {
    padding-top: 18px;
    letter-spacing: 1.05px;
    margin-bottom: 3px;
}
.provide__text .subscribe__button {
    margin-top: 37px;
    padding-left: 38px;
    padding-right: 40px;
}
/* start */
.start {
    padding-top: 144px;
}
.start .container {
    overflow: hidden;
    max-width: 1110px;
    background-color: #58BEBF;
    position: relative;
    border-radius: 20px;
}
.start .container .circle, .circle-text {
    position: absolute;
    display: block;
    width: 304px;
    height: 304px;
    border-radius: 100%;
}
.start .container .circle {
    top: -103px;
    right: -79px;
    background: linear-gradient(224deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 100%);
}
.start .container .circle-text {
    bottom: -227px;
    left: -283px;
    background: linear-gradient(224deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
}
.start .container .circle-inside {
    position: absolute;
    top: 0;
    right: -12px;
    background: url(../img/circle-inside.png) 0 0 no-repeat;
    width: 170px;
    height: 170px;
}
.circle-text {
    position: absolute;
    bottom: 0;
    left: 0;
}
.start__inner {
    display: flex;
}
.start__img {
    background: #fff;
    border-top-right-radius: 22px;
    margin-top: 59px;
    z-index: 1;
    transition: transform 0.5s;
}
.start__img:hover {
    transform: scale(1.03);
}
.start__img img {
    padding: 25px 25px 0 0;
    max-width: fit-content;
}
.start__text {
    position: relative;
    margin: 92px 96px 25px 95px;
    z-index: 1;
}
.start__text h2, .start__text p  {
    color: #fff;
}
.start__text p  {
    padding-top: 16px;
}
.start__buttons {
    padding-top: 29px;
    display: flex;
    justify-content: start;
    gap: 22px;
}
.start__buttons .subscribe__button {
    padding: 18px 40px 16px;
    z-index: 1;
}
.start__button-white {
    background-color: #fff;
    color: #000;
    padding-left: 50px !important;
    padding-right: 27px !important;
    position: relative;
}
.start__button-white:hover {
    background-color: rgb(247, 132, 52);
    color: #fff;
}
.start__button-white::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-121px, 23px);
    border: 7px solid transparent;
    border-left: 13px solid #F78434;
}
.start__button-white:hover::before {
    border-left: 13px solid #fff;
}
/* service */
.service {
    position: relative;
    padding-top: 146px;
}
.service__background {
    position: absolute;
    width: 100%;
    height: 704px;
    background: #F5F6FA;
    transform: translate(0, -379px);
    z-index: -1;
}
.service h2, .service p {
    text-align: center;
}
.service h2 {
    margin-bottom: 9px;
}
.service__inner {
    padding-top: 45px;
    display: flex;
    justify-content: center;
    gap: 30px;
}
.service__buyer {
    background-color: #F78434;
    color: #fff;
}
.service__buyer, .service__seller {
    max-width: 540px;
    min-height: 365px;
    text-align: center;
    padding: 40px 88px 39px;
    border-radius: 10px;
}
.service__buyer h2, .service__seller h2 {
    padding-top: 16px;
    margin-bottom: 1px;
}
.service .subscribe__button {
    margin-top: 25px;
}
.service__button-white {
    background-color: #fff;
    color: #F78434;
}
.service__button-white:hover {
    color: #fff;
}
.service__button-transparent:hover {
    color: #fff;
    background-color: rgb(247, 132, 52);
}
.service__seller {
    background-color: #fff;    
    -webkit-box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.25);
}
.service__button-transparent {
    background-color: transparent;
    color: #F78434;
    box-shadow: none;
}
/* choose */
.choose {
    padding-top: 112px;
    margin-bottom: 111px;
}
.choose h2 {
    text-align: center;
    margin-bottom: 60px;
}
.choose__inner {
    padding: 0 165px;
}
.choose__items {
    display: flex;
    justify-content: center;
    gap: 35px;
}
.choose__item {
    text-align: center;
}
.choose__item p {
    padding-top: 10px;;
}
.choose__icon img {
    transition: transform 0.2s;
}
.choose__icon img:hover {
    transform: scale(1.03);
}
.choose h3 {
    padding-top: 20px;
}
/* feedbacks */
.feedbacks .container {
    padding-top: 60px;
    padding-left: 145px;
    padding-right: 185px;
}
.feedbacks__preview {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.feedbacks__preview h2 {
    max-width: 455px;
}
.feedbacks__preview p {
    max-width: 398px;
}
.feedbacks__items {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding-top: 56px;    
    position: relative;
    z-index: 1;
}
.feedbacks__item:nth-child(3) {
    position: relative;
}
.feedbacks__item:nth-child(3):after {
    content: "";
    position: absolute;
    background: url(../img/feedback_design.png) no-repeat;
    width: 80px;
    height: 80px;
    top: -40px;
    right: -40px;
}
.feedbacks__item {
    width: 350px;
}
.feedbacks__item-img {
    overflow: hidden;
}
.feedbacks__item img {
    width: 350px;
    transition: ease 0.2s;
}
.feedbacks__item img:hover {
    transform: scale(1.1);
}
.feedbacks__item:hover {
    -webkit-box-shadow: 0px 10px 52px 0px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0px 10px 52px 0px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 10px 52px 0px rgba(0, 0, 0, 0.08);
}
.feedbacks__item-content {
    padding: 30px;
}
.feedbacks__name {
    font-size: 18px;
    font-weight: 700;
    padding-top: 24px;
    letter-spacing: 0.6px;
}
.city-orange {
    color: #F78434;
    letter-spacing: 1.15px;
}
.city-green {
    color: #58BEBF;
}
/* expert */
.expert .container {
    position: relative;
    overflow: hidden;
}
.expert__inner {
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: #58BEBF;
}
.expert__inner::before {
    content: "";
    background-color: #fff;
    position: absolute;
    top: -60px;
    width: 1440px;
    height: 220px;
    transform: skewY(-4.6deg);
}
.expert__textblock {
    padding-top: 158px;
    padding-left: 163px;
}
.expert h2 {
    max-width: 450px;
    padding-top: 46px;
    color: #fff;
}
.expert p {
    max-width: 370px;
    padding-top: 15px;
    margin-bottom: 30px;
    color: #fff;
}
.expert__button {
    background-color: #fff;
    color: #000;
    padding-left: 44px;
    padding-right: 39px;
}
.expert__button:hover {
    color: #fff;
}        
.expert__button::before {
    content: none;
}     
.expert__img {
    position: relative;
    z-index: 2;
    padding-top: 44px;
    padding-left: 85px;
}
.expert__circle {
    position: absolute;
    top: 220px;
    left: 6px;
    width: 743px;
    height: 743px;
    border-radius: 50%;
    background: linear-gradient(224deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: -1;
}
/* footer */
.footer {
    margin-bottom: 82px;
}
.footer__inner {
    display: flex;
    justify-content: start;
    padding-top: 86px;
    padding-left: 159px;
    gap: 224px;
}
.footer__copyright {
    max-width: 306px;
}
.footer__logo {
}
.footer_text {
    padding-top: 15px;
    padding-left: 6px;
}
.footer__socials {
    display: flex;
    gap: 29px;
    padding-left: 6px;
    padding-top: 40px;
}
.footer__socials-item {
}
.footer__menu {
    display: flex;
    gap: 88px;
}
.footer__menu ul>li {
    line-height: 250%;
}
.footer__menu ul>li:not(:first-of-type)  {
    letter-spacing: -0.5px;
}
.footer__menu ul>li:nth-of-type(1) {
    font-weight: 700;
    font-size: 21px;
    letter-spacing: 0.02em;
}
.footer__privacy {
}
.footer__legal {
}
.footer__contact {
}

/* media */
@media screen and (max-width:1440px) {
    /* header */
    .header__inner {
        gap: 40px;
        padding-left: 40px;
        padding-right: 40px;
    }
    .logo img {
        max-width: max-content;
    }
    .nav__menu ul {
        gap: 45px;
    }
    /* main */
    .main__inner {
        padding-left: 44px;
        padding-top: 96px;
        background-position: 94.5% 0;
        min-height: 760px;
        background-image: linear-gradient(to right, white 50%, transparent 100%), url(../img/main-img.jpg);
    }
    .main__info p {
        max-width: 467px;
    }
    .subscribe__form {
        flex-direction: row;
    }
    /* partners */
    .partners .container {
        padding-top: 0;
    }
    /* provide */
    .provide__slider {
        min-width: auto;
    }
    .provide__slider-popup {
        padding: 22px 9px 18px 74px;
    }
    .provider__slider-popup-inner:before {
        transform: translate(40%, 90%);
    }
    .provide__text {
        padding-left: 0px;
    }
    .provide__text h2 {
        padding-top: 0;
    }
    /* choose */
    .choose__inner {
        padding: 0px 44px;
    }
    /* feedbacks */
    .feedbacks .container {
        padding-top: 0;
        padding-left: 126px;
        padding-right: 126px;
    }
    /* footer */
    .footer__inner {
        padding-left: 44px;
        gap: 164px;
        justify-content: center;
    }
}
@media screen and (max-width:1199px) {
    .main__info {
        max-width: 500px;
    }
    .main__info p {
        max-width: 466px;
    }
    .subscribe__form {
        gap: 12px;
        max-width: 270px;
    }
    /* partners */
    .partners__items {
        gap: 30px;
        justify-content: space-between;
        padding: 0 44px;
    }
    /* provide */
    .provide__slider-popup {
        transform: translate(47px, -69px);
    }
    /* start */
    .start__text {
        margin: 92px 45px 25px 45px;
    }
    .start .container .circle-text {
        bottom: -237px;
        left: -253px;
    }
    /* service */
    .service__buyer, .service__seller {
        max-width: 40vw;
    }
    /* choose */
    .choose__inner {
        padding: 0 15px;
    }
    .choose__item {
        max-width: 260px;
    }
    /* feedbacks */
    .feedbacks .container {
        padding-left: 44px;
        padding-right: 44px;
    }
    /* expert */
    .expert__textblock {
        padding-top: 218px;
        margin-bottom: 90px;        
    }
    .expert__img {
        padding-top: 215px;
    }
    /* footer */
    .footer__inner {
        gap: 114px;
    }
    .footer__menu {
        gap: 68px;
    }
}
@media screen and (max-width:1024px) {
    h1 {
        font-size: 48px;
    }
    h2 {
        font-size: 36px;
    }
    h3 {
        font-size: 22px;
    }
    .logo img {
        max-width: 120px;
    }
    .nav__menu ul {
        gap: 25px;
    }
    /* main */
    .main {
    }
    .main__inner {
        padding-top: 96px;
        width: 100%;
        background-position: 100% -28px;
        background-image: linear-gradient(to top, white 0%, transparent 100%), url(../img/main-img.jpg);
        background-size: 100% 77%;
        min-height: 638px;
    }
    .main__info p {
        max-width: max-content;    
    }
    .subscribe__form {
        flex-direction: column;
    }
    /* partners */
    .partners__item {
        max-width: 160px;
    }
    /* provide */
    .partners .container {
        padding-top: 80px;
    }
    .provide__slider-popup {
    }
    /* start */
    .start__text {
        margin: 92px 15px 25px 30px;
    }
    .start__buttons .subscribe__button {
        padding: 18px 30px 16px;
    }
    /* service */
    .service__buyer, .service__seller {
        max-width: 45vw;
    }
    /* feedbacks */
    .feedbacks__item-content {
        padding: 20px;
    }
    .feedbacks__item:nth-child(3):after {
        background-size: 80%;
        top: -32px;
        right: -15px;
    }
    .feedbacks__item:nth-child(3)::after:hover {
        transform: rotate(-0.25turn);
    }
    /* expert */
    .expert__textblock {
        padding-top: 198px;
    }
    /* footer */
    .footer__inner {
        gap: 64px;
    }
    .footer__menu {
        gap: 38px;
    }
}
@media screen and (max-width:960px) {
     /* main */
    .main__info p {
        max-width: 367px;        
        padding-top: 18px;
        margin-bottom: 30px;
    }
    .subscribe__form {
        gap: 12px;
        max-width: 270px;
    }
    /* partners */
    /* provide */
    .provide__slider-popup {
        bottom: 0;
        right: 0;
        padding: 22px 19px 22px 64px;
    }
    .provide__inner {
        flex-direction: column;
        padding-bottom: 20px;
    }
    .provider__slider-popup-inner:before {
        transform: translate(30%, 60%);
    }
    .provide__slider-item {
        max-width: 54vw;
    }
    .provide__text {
        padding-left: 44px;
        padding-right: 44px;
        padding-top: 50px;
        max-width: max-content;
    }
    /* start */
    .start {
        padding-top: 80px;
    }
    .start__inner {
        flex-direction: column;
        margin-left: 15px;
    }
    .start__img {
        max-width: fit-content;
        border-radius: 20px;
    }
    .start__text {
        margin: 62px 15px 25px 0;
        padding-left: 29px;
    }
    .start__buttons {
        padding-bottom: 40px;
    }
    .start .container .circle-text {
        bottom: -187px;
        left: -133px;
    }
    /* service */
    .service {
        padding-top: 80px;
    }
    /* choose */
    .choose__items {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        row-gap: 50px;
        column-gap: 0;
        justify-items: center;
    }
    /* feedbacks */
    .feedbacks .container {
        padding-left: 44px;
        padding-right: 44px;
    }
    .feedbacks__preview p {
        max-width: 328px;
    }
    .feedbacks__items::after {
        top: 16px;
        right: 0px;
    }
    .feedbacks__item:nth-child(3):after {
        background-size: 70%;
        top: -28px;
        right: -22px;
    }
    .feedbacks__item-content {
        padding: 10px;
    }
    /* expert */
    .expert__inner::before {
        top: -110px;
    }
    .expert__textblock {
        padding-top: 158px;
        padding-left: 44px;
    }
    .expert__img {
        padding-top: 192px;
    }
    .expert__circle {
        top: 320px;
        left: 46px;
        width: 570px;
        height: 570px;
    }
    /* footer */
    .footer__inner {
        flex-direction: column-reverse;
        gap: 54px;
    }
    .footer__menu {
        gap: 88px;
    }
}
@media screen and (max-width:768px) {
    .nav__menu {
        display: none;
    }
    /* mobmenu */
    .menu-triger {
        background: url(../img/menu.png) 0 0 repeat;
        display: block;
        width: 25px;
        height: 17px;
        position: absolute;
        left: 15px;
        top: 23px;
    }	
    .menu-close {
        background: url(../img/close.png) 0 0 repeat;
        display: block;
        width: 28px;
        height: 28px;
        position: absolute;
        right: 20px;
        top: 20px;
        z-index: 100;
    }
    .menu-popup {
        background: #fff;
        display: none;
        position: absolute;
        left: -110%;
        top: 0;
        width: 250px;
        box-sizing: border-box;
        padding: 30px;
        border-bottom-right-radius: 20px;
        z-index: 9999;	
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
    .menu-popup ul {
        margin: 0;
        padding: 0;
    }
    .menu-popup li {
        list-style: none;
        margin: 10px 0;
        padding: 0;
    }
    .menu-popup li a {
        font-size: 18px;
        font-family: "Arial";
        color: #323232;
        line-height: 1.4;	
        text-decoration: none;
    }
    .body_pointer * {
        cursor: pointer;
    }
    /* header */
    .header {
        padding: 15px 0;
    }
    .header__inner {
        padding-left: 15px;
        padding-right: 15px;
    }
    /* main */
    .main__inner {
        padding-top: 104px;
        padding-left: 15px;
        max-width: 768px;
    }
    .main__info-form {
        padding-bottom: 99px;
    }
    /* partners */
    .partners__items {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        justify-items: center;
        row-gap: 30px;
    }
    .partners__item {
        max-width: 160px;
    }
    /* provide */
    .partners .container {
        padding-top: 0;
    }
    .provide .container {
    }
    .provide__slider {
        min-width: min-content;
        height: max-content;
    }
    .provide__slider-popup {
        transform: translate(57px, -89px);
    }
    .provide__text {
        padding-left: 15px;
    }
    /* start */
    .start__text {
        margin: 44px 15px 25px 0;
        padding-left: 0;
    }
    .start__img {
        margin: 35px 15px 0 0;
        border-radius: 20px;
    }
    .start__img img {
        padding: 25px 0 0 0;
        max-width: 100%;
    }
    /* service */
    .service__background {
        min-height: 945px;
        transform: translate(0, -240px);
    }
    .service__inner {
        flex-direction: column;
        align-items: center;
    }
    .service__buyer, .service__seller {
        padding: 40px 38px 39px;
        max-width: fit-content;
        margin-left: 15px;
        margin-right: 15px;
    }
    .service__description {
        padding: 0 15px;
    }
    /* choose */
    .choose__items {
        display: flex;
        flex-wrap: wrap;
        gap: 60px;
    }
    /* feedbacks */
    .feedbacks .container {
        padding-left: 15px;
        padding-right: 15px;
    }
    .feedbacks__preview h2 {
        max-width: 300px;
    }
    .feedbacks__preview p {
        max-width: 320px;
    }
    .feedbacks__items {
        gap: 10px;
        padding-top: 36px;
    }
    .feedbacks__item:nth-child(3):after {
        right: -15px;
    }
    /* expert */
    .expert__textblock {
        padding-left: 15px;
    }
    .expert h2 {
        max-width: 560px;
        padding-top: 26px;
    }
    .expert__img {
        padding-top: 200px;
        padding-left: 0px;
    }
    .expert__circle {
        top: 310px;
        left: -44px;
        width: 520px;
        height: 520px;
    }
    /* footer */
    .footer__inner {
        padding-left: 15px;
    }
    .footer__menu ul>li {
        line-height: 200%;
    }
}
@media screen and (max-width: 680px) {
    /* service */ 
    .service__buyer, .service__seller {
        padding: 40px 78px 39px;
    }   
    /* feedbacks */
    .feedbacks__preview, .feedbacks__items {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .feedbacks__preview h2, .feedbacks__preview p {
        max-width: fit-content;
    }
    /* expert */
    .expert__inner {
        flex-direction: column;
        align-items: start;
    }
    .expert__inner::before {
        top: -160px;
    }
    .expert h2 {
        padding-top: 10px;
        margin-bottom: 0;
        max-width: 388px;
    }
    .expert__img {
        position: absolute;
        padding-top: 0;
        max-width: 240px;
        bottom: 0;
        right: -30px;
    }
    .expert p {
        max-width: 371px;
    }
    .expert__circle {
        top: 70px;
        left: -34px;
        width: 420px;
        height: 420px;
    }
    /* footer */
    .footer__menu {
        column-gap: 70px;
        row-gap: 30px;
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 480px) {
    /* main */
    .main__inner {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 80px;
        min-height: 608px;
    }
    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 24px;
        line-height: 36px;
    }
    .main__info p {
        padding-top: 48px;
        margin-bottom: 50px;
        max-width: max-content;
    }
    .main__info-form {
        padding-bottom: 40px;
    }
    .subscribe__form {
        max-width: 100%;
        align-items: center;
    }
    .subscribe__form-icon, .subscribe__form button {
        min-width: 280px;
    }
    /* partners */
    .partners__items {
        margin-top: 50px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .partners__item {
        max-width: 150px;
    }
    /* provide */
    .provide__slider {
        min-width: max-content;
    }
    .provide__slider-popup {
        bottom: 0;
        right: 0;
        transform: translate(10%, 40%);
        padding: 12px 9px 12px 64px;
    }
    .provider__slider-popup-inner p {
        font-size: 14px;
        line-height: 1.7;
    }
    .provide__text h2 {
        padding-top: 30px;
    }
    /* start */
    .start .container .circle {
    }
    /* service */
    .service__background {
        min-height: 945px;
        transform: translate(0, -240px);
    }
    /* feedbacks */
    .feedbacks__item {
        width: 340px;
    }
    .feedbacks__item:nth-child(3):after {
        right: 0px;
    }
    /* expert */
    .expert__textblock {
        padding-top: 168px;
        margin-right: 15px;
    }
    .expert h2, .expert p {
        max-width: max-content;
    }
    .expert__img {
        position: relative;
        left: 180px;
    }
    /* footer */
    .footer__menu a, .footer_text {
        font-size: 14px;
    }
}
@media screen and (max-width: 375px) {
    /* start */
    .start {
        padding-top: 60px;
    }
    .start__buttons {
        flex-direction: column;
    }
    .start__button-white::before {
        left: 50%;
        top: 50%;
        transform: translate(-36%, -50%);
    }
    /* service */
    .service__buyer, .service__seller {
        padding: 40px 20px 39px;
    }
    /* feedbacks */
    .feedbacks__item {
        width: fit-content;
    }
    /* expert */
    .expert__img {
        left: 100px;
    }
    /* footer */
    .footer__menu {
        /* flex-direction: column; */
        align-items: start;
        column-gap: 40px;
    }
    .footer__menu a, .footer_text {
        font-size: 13px;
    }
}
@media screen and (max-width: 320px) {
    /* header */
    /* main */
    .main__inner {
        padding-top: 49px;
        min-height: 570px;
        background-size: 100% 50%;
    }
    input, textarea, button, select {
        font-size: 14px;
    }
    .text__input {
        max-width: 140px;
    }
    .subscribe__form-icon {
        padding-left: 64px;
    }
    .subscribe__form-icon, .subscribe__form button {
        min-width: 240px;
    }
    /* partners */
    .partners .container {
        padding-top: 0;
        padding-bottom: 60px;
    }
    .partners__item {
        max-width: 120px;
    }
    /* provide */
    .provide__text {
        padding-right: 15px;
    }
    /* feedback */
    .feedbacks__item:nth-child(3):after {
        right: -4px;
    }
    /* expert */
    .expert__img {
        left: 60px; 
    }
}
@media screen and (min-width:769px) {
    .menu {
        display: none;
    }
}